.cke_dialog_body textarea.cke_dialog_ui_input_textarea {
    font-family: "Lucida Console", Monaco, monospace;
    white-space: nowrap;
}
form.entity-browser-media-browser-form .field--name-revision-log-message {
    display: none;
}

.ief-form {
    background-color:  #cee8f5 !important;
}