{#
/**
 * @file
 * Related Links template.
 */
#}
<div{{ attributes.addClass('clearfix', 'related_links_wrapper') }}>
    {{ title_suffix.contextual_links }}

    <h3>Related Links</h3>
    <ul>{{ content.field_related_link }}</ul>           
</div>
