{#
/**
 * @file
 * Slideshow template.
 */
#}
{% if is_front %}
    {% set attributes = attributes.setAttribute('id', 'slideshow_wrapper')%}

    <div{{ attributes.addClass('clearfix', 'slideshow_wrapper') }}>
        {{ title_suffix.contextual_links }}
        {{ content.field_slide }}
    </div>
    
{% endif %}