{#
/**
 * @file
 * Accordion Paragraph template.
 */
#}
<div{{ attributes.addClass('clearfix') }}>
    {{ title_suffix.contextual_links }}
    <li class="accordion_title">{{ content.field_tabbed_acc_title.0 }}</li>
    <div class="accordion_body">{{ content.field_tabbed_acc_body.0 }}</div>
</div>
