// Base styles
html {
	body {
		color: $baseGray;
		font-family: $baseFont;
		font-size: $baseFontSize;
		height: 100%;
		margin: 0;

		p {
			margin: 0 0 1.5em;
			word-wrap: break-word;
			
		}
		a {
			color: $blue;
			text-decoration: underline;

			&:hover {
				color: $darkBlue;
				text-decoration: underline;
			}
		}
		
		h2 {
			color: $darkBlue;
			font-family: $condensedFont;
			font-size: $h2FontSize;
			font-weight: $bold;
		}

		h3 {
			color: $darkBlue;
			font-size: $h3FontSize;
			font-weight: $bold;
			font-family: $baseFont;

		}
	}
	.main {
		padding: 0;
		width: 100%;
	
		@media (min-width: 65.6875em) {
			max-width: $maxContentWidth;
		}
	}
	.main_page_title {
		color: $darkBlue;
		font-family: $condensedFont;
		margin-bottom: 5%;
	}

	.headline {
		color: $darkBlue;
		font-family: $condensedFont;
		font-size: 2.25em;
		line-height: 1.25em;
		padding-bottom: 0.8em;
	}
	// TODO: remove as much of the custom breakbpoints as possible
	.center_column {
		@media all and (min-width: 992px) {
			padding-left: 0;
		} 
		// TODO Fix the center column for md-col-12 (not centered without left padding)
		@include respond-to(null , mobile-max) {
			margin-bottom: 20px;
		}
	}

	.right_sidebar {
		@media all and (min-width: 992px) {
			padding-right: 0;
		}
	}

	.featured_links_wrapper,{
		margin-bottom: 16px;
	}
	.copy_box_wrapper,
	.quote_box_wrapper,
	.related_links_wrapper,
	.promo_box_wrapper {
		margin-bottom: 20px;
	}
}
