
//Hiding breadcrumb is needed on both front page layouts 
.row.breadcrumb_region{
    display:none !important; 
}

// front page CLASSIC
.front-page-classic{
    %orange-h2{
        color: $orange;
        font-size: $h2LargerFontSize;
        font-weight: $semiBold;
    } 
    p{
        font-size:18px;
    }
    .top.col-md-12{
        padding: 0;
        padding: 0;
    }
    .block-region-top {
        margin-top: -38px;
    }

    > div:not(:first-child){
        max-width: $maxContentWidth;
        margin: 0 auto;
        padding-left: 28px;
    }

    .block-region-ctas {
        padding: 30px; 
    }

    > div:nth-child(3n), #row_5 {
        margin-bottom: 40px;
    }

    .main .col-md-12 .center_column .front-page-classic .slide {
        height: 515px;
    }
      
    .first-content {
        h3 {
            font-weight: $custom;
            color: $mediumBlue; 
            font-size: $h3LargerFontSize;
        }
        p {
            font-size: $pLargerFontSize;
        }
        a {
            font-size: $h3FontSize ;
            background-color: $mediumBlue;
            padding: 8px 80px 8px 10px;
            background-image: url(../images/png/white-arrow.png);
            background-position: 95%;
            background-repeat: no-repeat;
            padding: 8px 80px 8px 10px;
            color: $white;
            font-family: "Open Sans Condensed", sans-serif;
            text-decoration: none;
            text-transform: uppercase;
            
            &:hover {
                text-decoration: none;
                color: $white;
                background-color: $darkBlue;
                text-transform: uppercase;
            }
        }
    }
    .bottom_callout{
        margin-top: -50px;        
    }
//  FEATURED CONTENT AREA
    .desktop_vertical .field--items { 
        // width: 393px;
        @include respond-to(lg-tablet-min, lg-tablet-max){
            grid-template-columns: 1fr 1fr 1fr;
        }
        
        .featured_content_item_wrapper{
            background-color: transparent;
            margin-bottom: 20px;
            @include respond-to(null, mobile-max){
                margin-bottom: 40px;
            }
            @include respond-to(tablet-min, tablet-max){
                margin-bottom: 40px;
            }
            @include respond-to(lg-tablet-min, lg-tablet-max){
                max-width: 388px;
               
                
            }  
            @include respond-to(lg-tablet-min, null){
                flex-flow: column nowrap;
                height: 100%;
                max-width: 386px;

            } 
            img{
                @include respond-to(lg-tablet-min, null){
                    max-width: 386px;
                }
            } 
            .featured_content_image {
               @include respond-to(null, mobile-max){
                   width:460px;
               }
                img {
                    object-fit: cover;
                    @include respond-to(null, mobile-max){
                        width: 92vw;
                        height: 41vw;    
                    }
                    @include respond-to(tablet-min, tablet-max){
                        width: 38vw;
                        height: 17vw;
                    }
                    @include respond-to(lg-tablet-min, lg-tablet-max){
                        
                    }
                    @include respond-to(lg-tablet-min, null){
                        width: 30vw;
                        height: 180px;
                    }
                }
            }
            .featured_content_content{
                padding: 10px 0;
                margin-right: 10px;
                @include respond-to(tablet-min, tablet-max){
                    margin-left: 40px;
                    width: 49vw;
                    padding-right: 20px;
                }
                @include respond-to( lg-tablet-min, lg-tablet-max){
                    
                    
                }
                @include respond-to(desktop-min, null){
                    // width:380px;
                }

                .featured_content_link{
                    margin-bottom:10px;
                    li {
                        @extend %orange-h2;
                        text-decoration: none;	
                        text-transform: none;
                        line-height: 1.0em;
                        
                        @include respond-to(desktop-min, nul){
                            margin-top: 18px;
                        }
                    }
                    .links_wrapper{
                        a {
                            @extend %orange-h2;
                            text-decoration: none;
                            text-transform: none;
                            &:hover li{
                                color:$darkBlue;
                            }
                        }
                        li {

                        }
                    }
                }
                .featured_content_body{
                    color: $baseGray;
                }
                .featured_content_additional_links {
                    display: flex;
                    .links_wrapper {
                        a {
                            font-family: $condensedFont;
                            font-weight: $bold;
                            color: $orange;
                            text-transform: uppercase;
                            text-decoration: none;
                            li{
                                background-image: url(../images/png/orange-arrow.png);
                                background-position: 100%;
                                font-size: $pLargerFontSize;
                                background-repeat: no-repeat;
                                padding: 0px 20px 0px 0px;
                                margin-top:10px;
                                display: inline-flex;
                                &:hover {
                                    color:$darkBlue;
                                    background-image: url(../images/png/dkblue-arrow.png);
                        }
                            }
                        }
                        li {

                        }
                    }
                }
            }
        }
    }
}

//TODO pull out media put specific queries inside selectors, use breakpoint mixin
@media (max-width: 480px){
    .front-page-classic{
        
        .block-region-top{
            margin-top: -32px;
        }
        //START Slide info TODO..move?
        .slide_wrapper{
                height:100%;
            .slide_image_wrapper{
                height: 155px;
                overflow: hidden;
            }
            .slide_text_wrapper{
                background-color:#616161 !important;
                padding-left: 20px;
                .slide_text{
                    position: relative;
                    padding-left: 40px;
                    h2{
                        margin-top: 0;
                        font-weight: 400;
                    }
                    a{
                        font-weight: 400;
                        font-weight: normal; 
                    }
                }
            }
        }
        .new-arrows, .slick-arrow{
            display:none !important;
        }
        // END slide info .. move?
        

        .block-region-ctas{
            padding: 50px 0 40px 0;
        }
        
        > div{
            padding-left: 0 !important;
        }
    }   
}

@media (min-width: 481px) and (max-width: 768px){
    .front-page-classic { 
        //Slide info
        .slideshow_wrapper {
            height: 256px;
            .slide_wrapper {
                height: 256px;
                .slide_image_wrapper {
                    height: 256px;
                    overflow: hidden;
                    img{
                        height:256px !important;
                    }
                }
                .slide_text_wrapper {
                    max-width: $screen-tablet-max;
                    min-width: $screen-mobile-max; 

                    .slide_text{
                        padding-left:40px;
                        h2{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        
        //END slide info
        
        .featured_content_image {
            img{
                display: flex;
                float: left;
                width: 42%;
            }
        }
             
        .block-region-ctas {
            padding: 50px 0 40px 0;
        }
        > div:not(:first-child){
            padding-left: 24px;
        }
        .bottom_callout{
            margin-top: 10px;
        }
        
    }    
}

@media (min-width:769px) and (max-width: 1050px){    
    .front-page-classic {
        // slide info
        .slideshow_wrapper {
            height: 350px;
            margin-top: -1px;
            .slide_wrapper {
                height: 350px;
                .slide_image_wrapper {
                    img {
                        height:350px !important;
                    }
                }
                .slide_text_wrapper {
                    h2 {
                        font-size: 30px;
                    }
                    h1 {
                        font-size: 48px;
                    }
                    a {
                        margin-top: 5px;
                        font-size: 18px;
                    }
                }
            }

            .slide_text_wrapper {
                position: relative;
                top: -14px;
                min-width: $screen-tablet-max;
                max-width: $screen-lg-tablet-max;
            }
        }
        .new-arrows {
            width: 100px;
            position: absolute;
            right: 1%;
            bottom: 0px;
            height: 60px;
        }
        // END slide info
        .first-content.col-md-8 {
            width: 100%;
        }
        .calls-to-action.col-md-4 {
            width: 100%;
            margin-left: -15px;
            padding: 0px;
       
            .block-region-ctas {
                padding: 50px 0px 30px 30px;
            }
        }

        .bottom_callout.col-md-3 {
            margin-top: -50px;
        }   
    }     
}
@media (min-width:1051px) and (max-width: 1300px){
    .front-page-classic{
            .slideshow_wrapper{
                height:430px;
                .slide_wrapper{
                    height:430px;
                    .slide_image_wrapper{
                        img{
                            height:430px !important;
                        }
                    }
                }
            }

    }
    
}
@media (min-width:1300px){
    .front-page-classic {
        .slideshow_wrapper{
            height:515px;
            .slide_wrapper{
                height:515px;
                .slide_image_wrapper{
                    img{
                        height:515px !important;
                        object-fit: cover;
                        width: 100%;
                    }
                }
            }
        }
        
}
}

// front page ALTERNATE