
//Hiding breadcrumb is needed on both front page layouts 
.row.breadcrumb_region{
    display:none !important; 
}

// front page CLASSIC
.front-page-classic{
    %orange-h2{
        color: $orange;
        font-family: $h2LargerFontSize;
        font-weight: $semiBold;
    }
    .margin-top-10{
        margin-top: 10px
    }
    p{
        font-size:18px;
    }
    .top.col-md-12{
        padding: 0;
        padding: 0;
    }
    .block-region-top{
        margin-top: -144px
    }
    > div:not(:first-child){
        max-width: $maxContentWidth;
        margin: 0 auto;
        padding-left: 28px;
    }
    a.button-blue {
        background-color: $mediumBlue;
        padding: 8px 80px 8px 10px;
        background-image: url(../images/png/white-arrow.png);
        background-position: 95%;
        background-repeat: no-repeat;
        padding: 8px 80px 8px 10px;
        color: $white;
        font-family: "Open Sans Condensed", sans-serif;
        text-decoration: none;
        text-transform: uppercase;
   
        &:hover {
            text-decoration: none;
            color: $white;
            background-color: $darkBlue;
            text-transform: uppercase;
        }
    }
    .block-region-ctas {
        padding: 30px;
    }
    > div:nth-child(3n) {
        margin-bottom: 40px;
    }
    a.orange-text-link{
        font-family: $condensedFont;
        font-weight: $bold;
        color: $orange;
        background-image: url(../images/png/orange-arrow.png);
        background-position: 100%;
        background-repeat: no-repeat;
        padding: 0px 20px 0px 0px;
        text-transform: uppercase;
        text-decoration: none;
    }
    #row_3{
        h2 {
            @extend %orange-h2;
        }
        p{
            font-size: $pLargerFontSize;
        }
    }
    .row.breadcrumb_region {
        display: none ;
    }
    .main .col-md-12 .center_column .front-page-classic .slide {
        height: 430px;
    }
    
    
    .first-content {
        h3 {
            font-weight: $custom;
            color: $mediumBlue; 
            font-size: $h3LargerFontSize;
        }
        p {
            font-size: $pLargerFontSize;
        }
        a {
            font-size: $h3FontSize ;
        }
    }
}

// front page ALTERNATE

// media queries will have both CLASSIC and ALTERNATE styles within
@media (max-width: 480px){
        .front-page-classic {
            .block-region-top{
                margin-top: -52px;
            }
            //START Slide info TODO..move?
            .slide_wrapper{
                    // height:100%;
                .slide_image_wrapper{
                    height: 185px;
                    overflow: hidden;
                }
                .slide_text_wrapper{
                    background-color:#616161 !important;
                    // padding-top: 1px;
                    // padding-bottom: 20px;
                    // margin-top: 0px;
                    // height: 100%;
                    // width: 100%;
                    .slide_text{
                        position: relative;
                        padding: 0;

                        h1{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .new-arrows, .slick-arrow{
                display:none !important;
            }
            // END slide info .. move?

            .block-region-ctas{
                padding: 50px 0 40px 0;
            }

        }   
}

@media (min-width: 481px) and (max-width: 768px){
    .front-page-classic{ 
        .block-region-top{
            margin-top: -58px;
        }
        //Slide info
        .slide_wrapper{
            height: 256px;
            
            .slide_text_wrapper {
                max-width: $screen-tablet-max;
                min-width: $screen-mobile-max;
                top: -113px; 

                .slide_text{
                    padding: 0;
                }
            }
        }
        .new-arrows {
            right: 2%;
        }
        //END slide info

        > div:nth-child(3){
            margin-left:10px;
            .image {
                display: flex;
                width: 120%;
                img { 
                    margin-top: 20px;
                }
            }
            .content {
                float:left;
                width: 50%;
                margin-left: 40px;
            }
        }       
        .block-region-ctas {
            padding: 50px 0 40px 0;
        }
        
    }    
}

@media (min-width:769px) and (max-width: 1050px){
    .front-page-classic {
        .block-region-top{
            margin-top: -58px;
        }
        // slide info
        .slideshow_wrapper {
            height: 350px;

            .slide_text_wrapper {
                position: relative;
                top: -14px;
                min-width: $screen-tablet-max;
                max-width: $screen-lg-tablet-max;
            }
        }
        .new-arrows {
            width: 100px;
            position: absolute;
            right: 1%;
            bottom: 0px;
            height: 60px;
        }
        // END slide info

        .first-content.col-md-8 {
            width: 100%;
        }
        .calls-to-action.col-md-4 {
            width: 100%;
            margin-left: -15px;
            padding: 0px;
       
            .block-region-ctas {
                padding: 50px 0px 30px 30px;
            }
        }
        .bottom_callout.col-md-3 {
            margin-top: -50px;
        }   
    }     
}

