header {
	display: flex;
	flex-direction: column;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 6;

	@include respond-to(desktop-min , null) {
		display: flex;
		flex-direction: column;
	}

	.header_bg_wrapper {
		background-color: $headerBackground;
		width: 100%;
		z-index: 6;
		@include respond-to(null , tablet-max){
			margin-top: 40px;
		}
	}

	&.header_opacity {
		.header_bg_wrapper {
			@include respond-to(lg-tablet-min , null) {
				background-color: $headerBackgroundTransparent;
				z-index: 6;
			}
		}
	}

	.header_inner_wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: auto;
		max-width: $maxContentWidth;
		width: 100%;

		@include respond-to(desktop-min , null) {
			height: $headerInnerDesktopHeight;
		}
		@include respond-to(lg-tablet-min , lg-tablet-max) {
			align-items: center;
			flex-direction: column;
			height: $headerInnerLgTabletHeight;
		}
		@media all and (min-width: 320px) and (max-width: 768px) {
			height: 100px;
			padding: 0 20px;
		}
		@media all and (max-width: 319px) {
			height: $headerInnerMobileHeight;
		}
	}

	.header_top_section {
		background-color: $darkBlue;
		height: $headerTopBarHeight;
		position: relative;
		text-align: center;
		@include respond-to(null , mobile-max) {
			background-color:$blue;
		}
		@include respond-to(desktop-min , null) {
			display: flex;
		}
		.tt-menu {
			text-align: left;
		}
	}

	.header_top_section_wrapper {
		margin: auto;
		max-width: $maxContentWidth;
		width: 100%;

		@include respond-to(null , lg-tablet-max) {
			padding-right: 0;
		}

		.header_top_section_wrapper_inner {
			display: inline-flex;
			flex-direction: row;
			margin: auto;

			@include respond-to(null , tablet-max) {
				display: flex;
				flex-direction: column;
				height: 70px;
				width: 100%;
			}
			@include respond-to(desktop-min , null) {
				float: right;
			}
		}
	}

	.header_top_section_search_wrapper {
		background: $white;
		order: 1;

		@include respond-to(null , tablet-max) {
			order: 2;
			width: 100%;
		}

		.cu-query {
			background: url(../images/search.svg);
			background-color: transparent;
			background-position: 95% 45%;
			background-repeat: no-repeat;
			border: 0;
			height: 35px;
			padding-left: 10px;
			width: 100%;

			@include respond-to(lg-tablet-min , null) {
				width: 250px;
			}
		}
	}

	.header_top_section_menu_wrapper {
		order: 3;
		z-index: 7;

		@include respond-to(null , tablet-max) {
			align-self: flex-end;
			position: relative;
			top: 65px;
		}
	
		@media all and (max-width: 319px) {
			align-self: flex-end;
			position: relative;
			top: 50px;
		}

		.header_top_section_menu {
			background: $mediumBlue url(../images/megamenu-icons/menu-hamburger-h.png) no-repeat 8px 50%;
			color: $white;
			float: left;
			font-family: $baseFont;
			font-size: 16px;
			font-weight: bold;
			letter-spacing: 1px;
			padding: 7px 10px 6px 34px;
			text-decoration: none;

			&.open {
				background: $mediumBlue url(../images/megamenu-icons/menu-hamburger-x.png) no-repeat 8px 50%;
			}
		}
	}

	.header_logo_section {
		align-items: center;
		align-self: center;
		display: flex;
		justify-content: flex-start;
		padding-left: 20px;
		width: 100%;

		@include respond-to(lg-tablet-min , lg-tablet-max) {
			justify-content: center;
			padding: 10px 0;
		}
		@include respond-to(null , tablet-max){
			align-self: flex-end;
			margin-bottom: 20px;
			padding: 0;
		}

		.schools_and_colleges_logo {
			@media all and (max-width: 400px) {
				margin-bottom: 16px;
			}
		}

		img {
			max-height: 60px;
			max-width: 300px;
		}
	}

	.header_nav_section {
		@include respond-to(desktop-min , null) {
			align-self: flex-end;
		}
		@include respond-to(tablet-min , lg-tablet-max) {
			align-self: center;
		}
		@include respond-to(null , tablet-max) {
			display: none;
		}
	}

	.header_nav {
		display: inline-flex;
		list-style: none;
		margin-bottom: 8px;
		padding-left: 0;

		@include respond-to(null , tablet-max) {
			display: flex;
			flex-direction: column;
		}
		@include respond-to(tablet-min , lg-tablet-max){
			flex-wrap: wrap;
		}

		li {
			@include transition-property(border-bottom);
			@include transition-duration(0.2s);
			display: inline-block;
			font-family: $condensedFont;
			line-height: 20px;
			margin-top: 0;
			padding: 2px 6px;

			@include respond-to(null , tablet-max) {
				display: block;
			}

			a {
				color: $white;
				font-size: 18px;
				letter-spacing: 1px;
				padding: 4px 11px;
				text-decoration: none;
				white-space: nowrap;

				@include respond-to(lg-tablet-min , null) {
					font-size: 21px;
					font-weight: $bold;
					padding: 3px 8px;
				}

				&:hover,
				&:focus,
				&.active {
					border-bottom: 5px solid $blue;
				}
			}
		}
	}

	.mega_menu_internal_main_nav {
		.header_nav_section {
			display: none;

			@include respond-to(null , tablet-max) {
				display: block;
			}

			li {
				margin-bottom: 0;
				padding: 3px 0;

				a {
					font-family: $condensedFont;
					font-size: 18px;

					@include respond-to(lg-tablet-min , null) {
						font-size: 21px;
					}

					&:hover {
						border-bottom: 1px dashed $white;
					}

					&.active {
						border-bottom: 5px solid $blue;
					}
				}
			}
		}
	}
}

ul#megamenu_icon_menu{
	padding-left: 0px;

	@include respond-to(null , mobile-max) {
		margin-left: -2px;
	}
}

.transaction_menu_wrapper {
	margin: 0 4px;
	order: 3;
	padding-left: 4px;
	
	@include respond-to(null , tablet-max) {
		order: 1;
	}
	@media all and (max-width: 320px) {
		height: 70px;
	}
	.menu--transaction-menu{
		@include respond-to(null , mobile-max){
			display: flex;
		
			li:not(:last-child){
				border-right:4px solid white;
			}
		}
	}
	li {
		background: $blue;
		display: inline-block;
		font-family: $condensedFont;
		font-size: 22px;
		letter-spacing: 1px;
		margin-left: -5px;
		opacity: 1;

		&:hover {
			background: $blue;
		}

		&::after {
			color: $white;
			content: '|';
			position: absolute;
			right: -4px;
		}

		&:last-child {
			&::after {
				content: '';
			}
		}
		@include respond-to(null , mobile-max){
			flex-grow: 1;
		}

		a {
			@include transition-property(color);
			@include transition-duration(0.2s);
			color: $white;
			float: left;
			font-size: 20px;
			padding: 3px 15px;
			position: relative;
			text-decoration: none;
			text-transform: uppercase;

			@include respond-to(null , tablet-max) {
				font-size: 18px;
				padding: 6px 15px 2px;
			}
			@media all and (max-width: 375px) {
				font-size: 18px;
				padding: 6px 10px 2px;
			}

			&:hover {
				background: $blue;
				color: $darkBlue;
				text-decoration: none;
			}
		}
	}
}
