@mixin active-link {
	font-weight: $bold;
	
} 
@mixin hover-link {
	background: $lightGray;
	text-decoration: none;
	width:100%;
}
nav#block-mainnavigation {
    margin-top: 22px;
}
.main_nav {
	padding-left: 0;
	.last_active a{
		@include active-link;
		&:before {
			content: "•"; 
			color: #FFA300;
			font-size:$baseFontSize;
			padding-right:4px;
			font-weight: 700;
		}
	}
	.child_class, .grandchild_class, .great_grandchild_class {
			border-left:2px solid #019cdb;		
			margin-left:10px;
	}
	.grandchild_class a {
		padding-left: 20px;
	}
	.great_grandchild_class a{
		padding-left: 40px;
	}

	li {
		display: block;
		line-height: 1;
		list-style-image: none;
		list-style-type: none;
		margin-left: 0;
		
		a {
			font-family: $baseFont;
			font-size: $baseFontSize;
			color: $darkBlue; 
			line-height: $h3LargerFontSize; 
			margin-left: 0;
			padding: 0 0 0 10px;
			text-decoration: none;
			// width:100%;
			display:block;

			&:hover {
				@include hover-link;
			}

			&.child_menu_item {
				color: $darkBlue;

				&.active {
					@include active-link;
				}
			}

			&.grandchild_menu_item {
				border-bottom: 0;
				color: $darkBlue;
				font-size: $baseFontSize;
				// padding: 5px 4px 5px 10px;

				&.active {
					@include active-link;
				}
			}
		}
	}
}
