@mixin active-link {
	font-weight: $bold;
	
} 
@mixin hover-link {
	background: $lightGray;
	text-decoration: none;
	width:100%;
}

.main_nav {
	padding-left: 0;
	&:first-child{
		padding-top: 18px;
	}
	.child_menu {
		border-left:2px solid #019cdb;
		margin-left:12px;
		
		
		.active::before {
			content: "•"; 
			color: #FFA300;
			font-size:$baseFontSize;
			padding-right:4px;
		}
	}

	.grandchild_menu {
		margin-left: 10px;
		li ul{
			margin-left:10px;
			font-size:$baseFontSize;
		}	
	}

	li {
		display: block;
		line-height: 1;
		list-style-image: none;
		list-style-type: none;
		margin-left: 0;
		
		a {
			font-family: $baseFont;
			font-size: $baseFontSize;
			color: $darkBlue; 
			line-height: $h3LargerFontSize; 
			margin-left: 0;
			padding: 6px 4px 6px 10px;
			text-decoration: none;

			&:hover {
				@include hover-link;
			}
			
			&.active {
				@include active-link;
			}

			&.child_menu_item {
				color: $darkBlue;
				margin: 4px 0;

				&.active {
					@include active-link;
				}
			}

			&.grandchild_menu_item {
				border-bottom: 0;
				color: $darkBlue;
				font-size: $baseFontSize;
				padding: 5px 4px 5px 10px;

				&.active {
					@include active-link;
				}
			}
		}
	}
}
