.view-cu-news {
    .views-row {
        display: flex;
        border-bottom: 1px #CCC solid;
        &:nth-child(n+2) {
            margin-top: 30px;
        }
        &:last-of-type {
            border-bottom: none;
        }
        .news_image {
            min-width: 200px;
            height: 166px;
            overflow: hidden;
            margin-bottom: 30px;
            img {
               width: 200px 
            }

        }
        p.date {
            color: $gray;
            font-size: 13px;
        }
        .news_text {
            display: flex;
            flex-direction: column;
            margin-left: 30px;

            .news_headline {
                h2 {
                    margin-top: 0;
                    color: $blue;
                    font-size: 24px;

                    &:hover {
                        color: $darkBlue;
                    }
                }
            }
            .summary {
                margin-bottom: 30px;
            }
            
            .learn_more_link {
                display: flex;
                margin-bottom: 30px;

                a {
                    @include green-arrow-link(false);
                    display: flex;
                    flex-direction: row-reverse;
                    list-style-type: none;
                }
            }
        }

    }
}
article.news {
    .news_date {
        color: $gray;
        margin-bottom: 30px;
    }
}