table {
	.cke_show_border {
		table-layout: fixed;
		width: 100%;
	}
}

.video-embed-field-responsive-video {
	&::after {
		padding-bottom: 0;
	}
}

span {
	.video-embed-widget__summary {
		display: none;
	}
}

// images in the WYSIWYG
article {
	figcaption {
		font-size: 13px;
		line-height: 17px;
		padding-bottom: 5px;
		padding-top: 5px;
	}
}

.main {
    article {
        img {
            margin-bottom: 20px;
        }
        &.align-left {
            img {
                margin-right: 30px;
            }
        }
        &.align-right {
            img {
                margin-left: 30px;
            }
        }
    }
	figure.caption {
        margin-bottom: 20px;
        article img {
            margin-bottom: 0;
        }
        &.align-left {
            img {
                margin-right: 30px;
            }
            figcaption {
                padding-right: 30px;
            }
        }
        &.align-right {
            img {
                margin-left: 30px;
            }
            figcaption {
                padding-left: 30px;
            }
        } 
	}
}

