<div class="flexbox_three_section_wrapper">
    <div class="row">
        <div class="col-md-12 top_section">
            {{ content.top }}
        </div>
    </div>
    <div class="row responsive_flex">
        <div class="col-md-8 left_column">
            {{ content.left }}
        </div>
        <div class="col-md-4 right_column">
            {{ content.right }}
        </div>
    </div>
</div>