<div class="front-page-two-column">
<div class="main-region col-md-12">
    {{ content.top }}
  </div>
  <div class="main-region col-md-4">
    {{ content.left }}
  </div>
  <div class="sidebar-region col-md-8">
    {{ content.right }}
  </div>
</div>