<div class="front-page-classic">
<div class="main-region col-md-12">
    {{ content.top }}
  </div>
  <div class="main-region col-md-12">
    {{ content.first }}
  </div>
  <div class="sidebar-region col-md-12">
    {{ content.middle }}
  </div>
  <div class="sidebar-region col-md-12">
    {{ content.bottom }}
  </div>
</div>