<div class="one-column col-md-12">
  <div class="top-region">
    {{ content.top }}
  </div>
</div>
<div class="one-column col-md-12">
<div class="middle-region">
    {{ content.middle }}
  </div>
</div>