<div class="two-column">
  <div class="top-region col-md-8">
    {{ content.top }}
  </div>
  <div class="middle-region col-md-4">
    {{ content.middle }}
  </div>
  <div class="bottom-region col-md-4">
    {{ content.bottom }}
  </div>
</div>