<div class="three-column">
  <div class="left-region col-md-3">
    {{ content.leftbar }}
  </div>
  <div class="main-region col-md-6">
    {{ content.main }}
  </div>
  <div class="sidebar-region col-md-3">
    {{ content.sidebar }}
  </div>
</div>