<div class="footer_wrapper">
    <div class="footer_logo_wrapper">
    {{ drupal_block('cu2017_branding') }}
    {{ drupal_entity('block','cu2017_branding', check_access=false) }}

    </div>
    <div class="footer_social_wrapper">

    </div>
    <div class="footer_badge_wrapper">

    </div>
    <div class="footer_contact_wrapper">

    </div>
    <div class="footer_menu_wrapper">

    </div>
</div>
