// Blue
$primaryBlue: #3255A4;
$lightBlue: #95D2F3;
$darkBlue: #002E6D;
$mediumBlue: #0054A6;
$blue: #019CDB;
$borderBlue: #69C;

// rgba Blue
$breadcrumbBlue: rgba(0, 46, 109, 0.7);
$siteNameBackground: rgba(0, 46, 109, 0.1);
$headerBackground: rgba(0, 84, 166, 1);
$headerBackgroundTransparent: rgba(0, 84, 166, 0.8);
$megaMenuBackground: rgba(0, 84, 166, 0.93);

// Red: Used for Header Alert - Dangerous only
$red: #DA291C;

// 8 Shades of Gray
$lightGray: #EFEFEF;
$baseGray: #555;
$cardBackground: #F2F2F2;
$coolGray: #DED4CB;
$dkGray: #7E898A;
$gray: #B3B4B3;
$backgroundGray: #EAEBEB;
$affiliationGray: #B3B4B3;

// Black
$black: #000;
$backgroundBlack: rgba(0, 0, 0 , .75);
$boxShadowBlack:  rgba(0, 0, 0, 0.4);

// Other
$orange: #FFA300;
$yellow: #FFCC4F;
$green: #73B865;
$white: #FFF;
