// Font family
$baseFont: 'Open Sans', Arial, sans-serif;
$condensedFont: 'Open Sans Condensed', sans-serif;

// Font size
$baseFontSize: 16px;
$h2FontSize: 32px;
$h3FontSize: 20px;

// Font weight
$bold: 700;
$semiBold: 600;
$regular: 400;
